= content_for :page_title, "Apply Now"
= content_for :form_button, "Next"
= content_for :form_content_header, "Become a Shopper Today"
= content_for :form_footer do
  %p
    Already applied?
    = link_to "View your application", login_path

= render "applicants/shared/form"
